.topBar {
  clear: both;
  text-align: right;
}

.title {
  clear: both;
  text-align: center;
  margin-bottom: 1vw;
}

.title a {
  text-decoration: none;
  color: #ffffff;
  font-size: 10.5vw;
  font-weight: bold;
}

.navBar {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: space-between;
}

.navBarItem {
  flex: 1 1 0px;
  text-align: center;
  font-size: 1.3em;
  margin: 0 0.25em 0 0.25em;
  border-radius: 0.25em;
  background-color: #6f7c85;
}

.navBarItem a {
  text-decoration: none;
}

.navBarItem span {
  display: block;
  color: #FFFFFF;
  font-weight: 600;
}

.navBarItemFirst {
  margin-left: 0;
}

.navBarItemLast {
  margin-right: 0;
}
